aioredis==1.3.1
amqp==2.5.2
asgiref==3.2.10
asn1crypto==0.24.0
astroid==2.3.3
async-timeout==2.0.1
attrs==19.1.0
autobahn==19.8.1
Automat==0.7.0
Babel==2.7.0
billiard==3.6.3.0
CacheControl==0.12.6
cachetools==3.1.1
celery==4.4.2
certifi==2018.11.29
cffi==1.12.3
channels==2.4.0
channels-redis==3.0.1
chardet==3.0.4
constantly==15.1.0
cryptography==2.7
daphne==2.3.0
defusedxml==0.5.0
Django==2.2.15
django-allauth==0.39.1
django-cors-headers==2.5.0
django-debug-toolbar==2.2
django-debug-toolbar-request-history==0.1.1
django-discover-runner==1.0
django-eventstream==3.1.0
django-grip==3.0.0
django-guardian==2.2.0
django-jsonfield==1.4.0
django-phonenumber-field==3.0.1
django-redis==4.10.0
django-rest-auth==0.9.3
django-smartfields==1.1.1
djangorestframework==3.9.2
docopt==0.6.2
fcm-django==0.3.4
firebase-admin==3.2.1
geographiclib==1.49
geoip2==2.9.0
geopy==1.19.0
google-api-core==1.22.0
google-api-python-client==1.10.0
google-auth==1.20.1
google-auth-httplib2==0.0.4
google-cloud-core==1.4.1
google-cloud-firestore==1.8.1
google-cloud-storage==1.30.0
google-crc32c==0.1.0
google-resumable-media==0.7.1
googleapis-common-protos==1.52.0
gripcontrol==4.0.0
grpcio==1.31.0
hiredis==1.0.0
httplib2==0.13.1
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.6.0
incremental==17.5.0
isort==4.3.21
jsonpickle==1.2
kombu==4.6.8
lazy-object-proxy==1.4.3
maxminddb==2.0.2
mccabe==0.6.1
msgpack==1.0.0
oauth2client==4.1.3
oauthlib==3.0.1
phonenumbers==8.10.17
Pillow==5.4.1
pipreqs==0.4.10
protobuf==3.12.4
psycopg2-binary==2.7.7
pubcontrol==3.0.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycparser==2.19
pyfcm==1.4.7
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.4.4
python3-openid==3.1.0
pytz==2020.1
redis==3.5.3
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
sorl-thumbnail==12.6.3
sqlparse==0.2.4
Twisted==20.3.0
#earlier Twisted = 19.7.0 
txaio==18.8.1
typed-ast==1.4.1
uritemplate==3.0.0
urllib3==1.24.1
vine==1.3.0
Werkzeug==0.16.1
wrapt==1.11.2
yarg==0.1.9
zipp==1.2.0
zope.interface==4.6.0
ptvsd==4.3.2
